<%= form_for(listum) do |f| %>
  <% if listum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listum.errors.count, "error") %> prohibited this listum from being saved:</h2>

      <ul>
      <% listum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id  %>
  </div>

  <div class="field">
    <%= f.label :privada %>
    <%= f.check_box :privada %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
